body {margin:0px; background-color:black; font-family: "Times New Roman", Times, serif; text-align:center;}

#page {
	position:relative;
	width:600px;
	height:450px;
	color:white;
	background-color:#202020;	
    margin:25px auto;
	border:3px solid gray;
	padding:0px 0px 50px;
}

.note{
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	background-color:#151515;
	vertical-align:middle;
	padding:0px;
	height:50px;
	}

.note #flash{
	color:green; 
}

.note h4, .contain_top_left h4, .contain_top_right h4, .contain_bottom_right h4, .contain_bottom_left h4{
	margin:0px;
}

.menu {
	position:absolute;
	bottom:15px;
	width:600px;
}

.menu a, li{
	display:inline;
	list-style-type:none;
	color:white;
	margin:5px;
}

.contain_top_left{
	top:125px;
	left:100px;
}

.contain_top_right{
	top:125px;
	left:300px;
}

.contain_bottom_right{
	bottom:125px;
	left:300px;	
}

.contain_bottom_left{
	bottom:125px;
	left:100px;	
}

.contain_top_left, .contain_top_right, .contain_bottom_right, .contain_bottom_left{
	width:200px;
	border:3px solid #AAAAAA;
	background-color:black;
	color:#0099FF;
	height:auto;
	position:absolute;
	padding:5px 0px;
}

.contain_top_left p, .contain_top_right p, .contain_bottom_right p, .contain_bottom_left p{
	color:green;
	margin:0px;
}

.left{
	width:250px;
	height:350px;
	border:3px solid #AAAAAA;
	position:absolute;
	background-color:black;
	top:75px;
	left:33px;
	padding:5px 0px;
	overflow:auto;
}

.right{
	width:250px;
	height:350px;
	border:3px solid #AAAAAA;
	position:absolute;
	background-color:black;
	top:75px;
	right:33px;
	padding:5px 0px;
	overflow:auto;
}

.stocks{
	width:400px;
	height:350px;
	border:3px solid #AAAAAA;
	position:absolute;
	background-color:black;
	top:75px;
	left:100px;
	padding:5px 0px;
}

.stocks p{
	margin:0px;
}
