<!DOCTYPE HTML>
<html>
	<head>
		<%=stylesheet_link_tag "main.css"%>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Entrepreneurs Live</title>

		
	</head>
	<body>
		<div id="page">
			<br/>
			<div id="flash"><%=flash[:note]%></div>
			
			<%=yield%>

		</div>		
	</body>
</html>